In [1]:
import os
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
train_data=pd.read_csv('train.csv')
train_data=train_data.head(10000)

In [3]:
train_data.drop(['Descript','Resolution','Address'],inplace=True,axis=1)
train_data.head()

,Dates,Category,DayOfWeek,PdDistrict,X,Y
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,Wednesday,NORTHERN,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,Wednesday,NORTHERN,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,NORTHERN,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,Wednesday,PARK,-122.438738,37.771541

In [4]:
train_data['DayOfWeek'].unique()

array(['Wednesday', 'Tuesday', 'Monday', 'Sunday', 'Saturday', 'Friday',
       'Thursday'], dtype=object)

In [5]:
train_data['DayOfWeek'].replace(to_replace=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'],
                            value=[i for i in range(0,7)],
                              inplace=True)
train_data

,Dates,Category,DayOfWeek,PdDistrict,X,Y
0,2015-05-13 23:53:00,WARRANTS,2,NORTHERN,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,2,NORTHERN,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,2,NORTHERN,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,2,NORTHERN,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,2,PARK,-122.438738,37.771541
...,...,...,...,...,...,...
9995,2015-03-22 05:00:00,ASSAULT,6,NORTHERN,-122.428819,37.780864
9996,2015-03-22 04:25:00,VANDALISM,6,TARAVAL,-122.475644,37.743051
9997,2015-03-22 04:15:00,ASSAULT,6,BAYVIEW,-122.409836,37.726655
9998,2015-03-22 04:15:00,OTHER OFFENSES,6,BAYVIEW,-122.409836,37.726655
9999,2015-03-22 04:11:00,WEAPON LAWS,6,MISSION,-122.429378,37.766151

In [6]:
dummies_train=pd.get_dummies(train_data['PdDistrict'])
train_data=pd.concat([train_data,dummies_train],axis=1)
train_data.drop('PdDistrict',inplace=True,axis=1)

In [7]:
train_data.head()

,Dates,Category,DayOfWeek,X,Y,BAYVIEW,CENTRAL,INGLESIDE,MISSION,NORTHERN,PARK,RICHMOND,SOUTHERN,TARAVAL,TENDERLOIN
0,2015-05-13 23:53:00,WARRANTS,2,-122.425892,37.774599,0,0,0,0,1,0,0,0,0,0
1,2015-05-13 23:53:00,OTHER OFFENSES,2,-122.425892,37.774599,0,0,0,0,1,0,0,0,0,0
2,2015-05-13 23:33:00,OTHER OFFENSES,2,-122.424363,37.800414,0,0,0,0,1,0,0,0,0,0
3,2015-05-13 23:30:00,LARCENY/THEFT,2,-122.426995,37.800873,0,0,0,0,1,0,0,0,0,0
4,2015-05-13 23:30:00,LARCENY/THEFT,2,-122.438738,37.771541,0,0,0,0,0,1,0,0,0,0

In [8]:
ls1=list(train_data['Dates'])
for i in range(len(ls1)):
    ls1[i]=ls1[i][:4:]
train_data['Year']=ls1 

ls1=list(train_data['Dates'])
for i in range(len(ls1)):
    ls1[i]=ls1[i][5:7:]
train_data['Month']=ls1 

ls1=list(train_data['Dates'])
for i in range(len(ls1)):
    ls1[i]=ls1[i][8:10:]
train_data['Day']=ls1 

ls1=list(train_data['Dates'])
for i in range(len(ls1)):
    ls1[i]=ls1[i][11:-6:]
train_data['Hours']=ls1

ls1=list(train_data['Dates'])
for i in range(len(ls1)):
    ls1[i]=ls1[i][-5:-3:]
train_data['Minutes']=ls1

In [9]:
train_data.head()

,Dates,Category,DayOfWeek,X,Y,BAYVIEW,CENTRAL,INGLESIDE,MISSION,NORTHERN,PARK,RICHMOND,SOUTHERN,TARAVAL,TENDERLOIN,Year,Month,Day,Hours,Minutes
0,2015-05-13 23:53:00,WARRANTS,2,-122.425892,37.774599,0,0,0,0,1,0,0,0,0,0,2015,05,13,23,53
1,2015-05-13 23:53:00,OTHER OFFENSES,2,-122.425892,37.774599,0,0,0,0,1,0,0,0,0,0,2015,05,13,23,53
2,2015-05-13 23:33:00,OTHER OFFENSES,2,-122.424363,37.800414,0,0,0,0,1,0,0,0,0,0,2015,05,13,23,33
3,2015-05-13 23:30:00,LARCENY/THEFT,2,-122.426995,37.800873,0,0,0,0,1,0,0,0,0,0,2015,05,13,23,30
4,2015-05-13 23:30:00,LARCENY/THEFT,2,-122.438738,37.771541,0,0,0,0,0,1,0,0,0,0,2015,05,13,23,30

In [10]:
train_data.drop('Dates',axis=1,inplace=True)

In [11]:
train_data.drop('Category',axis=1).head()

,DayOfWeek,X,Y,BAYVIEW,CENTRAL,INGLESIDE,MISSION,NORTHERN,PARK,RICHMOND,SOUTHERN,TARAVAL,TENDERLOIN,Year,Month,Day,Hours,Minutes
0,2,-122.425892,37.774599,0,0,0,0,1,0,0,0,0,0,2015,05,13,23,53
1,2,-122.425892,37.774599,0,0,0,0,1,0,0,0,0,0,2015,05,13,23,53
2,2,-122.424363,37.800414,0,0,0,0,1,0,0,0,0,0,2015,05,13,23,33
3,2,-122.426995,37.800873,0,0,0,0,1,0,0,0,0,0,2015,05,13,23,30
4,2,-122.438738,37.771541,0,0,0,0,0,1,0,0,0,0,2015,05,13,23,30

In [12]:
len(['WARRANTS' 'OTHER OFFENSES' 'LARCENY/THEFT' 'VEHICLE THEFT' 'VANDALISM'
 'NON-CRIMINAL' 'ROBBERY' 'ASSAULT' 'WEAPON LAWS' 'BURGLARY'
 'SUSPICIOUS OCC' 'DRUNKENNESS' 'FORGERY/COUNTERFEITING' 'DRUG/NARCOTIC'
 'STOLEN PROPERTY' 'SECONDARY CODES' 'TRESPASS' 'MISSING PERSON' 'FRAUD'
 'KIDNAPPING' 'RUNAWAY' 'DRIVING UNDER THE INFLUENCE'
 'SEX OFFENSES FORCIBLE' 'PROSTITUTION' 'DISORDERLY CONDUCT' 'ARSON'
 'FAMILY OFFENSES' 'LIQUOR LAWS' 'BRIBERY' 'EMBEZZLEMENT' 'SUICIDE'
 'LOITERING' 'SEX OFFENSES NON FORCIBLE' 'EXTORTION' 'GAMBLING'
 'BAD CHECKS' 'TREA' 'RECOVERED VEHICLE' 'PORNOGRAPHY/OBSCENE MAT'])

1

In [13]:
train_data['Category'].replace(to_replace=['WARRANTS', 
                                           'OTHER OFFENSES', 
                                           'LARCENY/THEFT', 
                                           'VEHICLE THEFT', 
                                           'VANDALISM',
 'NON-CRIMINAL','ROBBERY' ,'ASSAULT', 'WEAPON LAWS', 'BURGLARY',
 'SUSPICIOUS OCC', 'DRUNKENNESS', 'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC',
 'STOLEN PROPERTY', 'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
 'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
 'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT', 'ARSON',
 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY', 'EMBEZZLEMENT', 'SUICIDE',
 'LOITERING', 'SEX OFFENSES NON FORCIBLE', 'EXTORTION', 'GAMBLING',
 'BAD CHECKS', 'TREA', 'RECOVERED VEHICLE', 'PORNOGRAPHY/OBSCENE MAT'],
                            value=[i for i in range(39)],
                              inplace=True)

In [14]:
y=train_data['Category']

In [15]:
X=train_data.drop(['Category'],axis=1)

In [16]:
X = X.astype(float)

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=42)

In [18]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(9000, 18) (9000,)
(1000, 18) (1000,)

In [19]:
clf = LogisticRegression(max_iter =10000).fit(X_train, y_train)

/home/bdoboseych/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
clf.coef_

array([[-2.01852620e-02,  2.49344551e-02,  2.40127827e-03,
        -1.76435310e-02, -9.12838019e-02, -1.92008051e-02,
         1.16419310e-01, -7.25917051e-02, -1.11823661e-01,
        -1.55838530e-01,  1.17608044e-01, -1.46413561e-01,
         3.80769433e-01,  2.40337481e-03,  4.26470264e-02,
        -4.16503205e-03, -9.95379099e-04,  1.98523640e-02],
       [-3.84751028e-02, -8.13561157e-04, -4.25310119e-02,
         3.81127067e-01, -3.38493918e-01, -1.49494011e-02,
         7.70716374e-02, -2.14818270e-01, -4.28391476e-03,
        -6.40253920e-02, -2.05699508e-02,  2.21313752e-01,
        -2.23702436e-02,  2.75425302e-03, -9.67227767e-02,
        -7.54952888e-03, -4.96022615e-03,  8.64637783e-03],
       [ 3.73701235e-03, -3.00563592e-02,  1.35980475e-01,
        -6.29861494e-01,  7.33474016e-01, -6.49893039e-01,
        -8.63345033e-01,  7.08190876e-01, -8.03694313e-03,
         3.68036666e-01,  5.65579326e-01,  3.53032045e-02,
        -2.59448885e-01, -2.62923879e-03,  2.68031560e-02,
        -1.46404074e-03,  5.01789460e-02, -7.77925455e-03],
       [-1.18983936e-02, -3.24742966e-02, -4.87760511e-02,
         1.40252334e-01, -3.10295898e-01,  4.15042027e-01,
         1.26005322e-01, -4.59722174e-02,  2.74830329e-02,
         1.01425266e-01, -2.33569404e-01,  1.97155559e-01,
        -4.17526049e-01, -5.35368237e-05,  1.13810854e-01,
        -6.70658381e-03,  6.99033755e-02, -3.14745786e-02],
       [-7.71809857e-03,  7.44390241e-03, -1.16073132e-03,
         1.06954395e-01,  1.57047762e-02,  7.21036403e-02,
        -2.41940777e-01, -3.10137084e-02,  5.77008427e-02,
        -6.38050813e-03,  1.59408714e-01, -2.16712589e-03,
        -1.30369288e-01,  1.93586078e-03, -1.19618740e-01,
        -6.04192658e-03,  3.29450104e-02, -8.61989087e-03],
       [-2.94130512e-02, -2.05023903e-02,  2.00612755e-02,
        -2.90465925e-01,  2.47401495e-01, -1.22409792e-01,
        -6.40037018e-02, -1.19990900e-01,  1.27205778e-03,
         1.49989516e-01, -1.44707146e-01,  1.66030650e-01,
         1.76883883e-01,  2.75410678e-04, -7.25150180e-03,
        -4.27861421e-03, -3.12416453e-03, -1.15805367e-03],
       [-7.38033117e-03,  2.28304599e-02, -2.59509327e-03,
        -3.12006093e-03,  6.72311266e-02,  1.36738340e-01,
        -2.65963179e-02,  4.04858353e-02, -2.65361149e-03,
        -1.68445101e-01,  1.04859501e-01, -1.80601646e-01,
         3.21030563e-02,  2.26102870e-03,  3.91623343e-02,
         2.78447961e-03,  1.48155869e-03,  3.45468009e-03],
       [ 2.41427152e-02,  3.67940875e-02, -3.85383911e-02,
         3.27972896e-01, -1.18312544e-01,  1.57605798e-01,
         3.24077041e-01, -2.87795393e-02, -1.89618735e-01,
        -2.75605200e-01, -5.87659178e-02, -1.50807936e-01,
         1.22362144e-02,  4.18524571e-03,  7.86087495e-02,
        -1.54191032e-03,  1.47161994e-04,  1.28080977e-02],
       [ 5.10863640e-02,  1.25740405e-02, -1.51085873e-02,
         1.33133557e-01, -1.32302676e-01,  1.12296686e-01,
         1.91720404e-01,  7.10313413e-03, -8.85124732e-02,
        -4.84140501e-02, -9.89092867e-02, -8.11470394e-02,
         5.03239542e-03,  1.31107465e-03, -2.72124250e-02,
        -9.68507998e-03,  1.63549923e-02,  2.29890974e-02],
       [-5.27472924e-02, -2.67147970e-02, -3.14404187e-03,
        -1.12435701e-02,  5.50691622e-02,  2.28279386e-02,
        -7.28038731e-02, -4.61621201e-03,  1.06222813e-01,
         1.74075233e-01, -2.31813056e-01,  1.37340535e-01,
        -1.75059101e-01, -2.62337942e-04,  9.82566824e-02,
        -6.71974746e-03, -6.53633534e-03, -1.36896011e-02],
       [-6.51413387e-02,  5.95673686e-04, -4.77543828e-03,
         2.39454983e-02, -2.06765637e-01,  9.59683201e-02,
         5.47730926e-02, -2.83888941e-02, -1.07364732e-02,
         2.22681898e-03,  1.57116547e-01, -3.31755220e-02,
        -5.49631151e-02,  1.28166086e-03,  2.72683495e-02,
        -8.48872070e-03, -1.16254820e-02,  9.65527934e-03],
       [ 2.47799771e-01, -2.57815629e-03,  4.52103967e-04,
        -3.77007960e-02,  6.38432792e-03, -3.90222135e-02,
         7.13555545e-02, -3.80188644e-02, -1.42228594e-03,
        -2.71156784e-03, -2.87959119e-02,  3.07031238e-02,
         3.92282336e-02, -8.05382167e-04, -3.34892768e-02,
        -1.29277631e-02, -1.24622182e-02,  4.08002475e-02],
       [-5.77619923e-02, -1.46578750e-03,  4.45595797e-04,
         2.62909860e-03,  8.52909928e-03, -4.03298694e-04,
         4.48175397e-02, -2.46367876e-02, -2.88888638e-02,
         1.53655830e-02, -3.31002210e-03,  4.54015665e-03,
        -1.86425930e-02, -1.77389809e-04, -1.10433043e-02,
         1.37265007e-02,  1.05638748e-02, -8.28475975e-04],
       [-2.12217728e-02,  1.81489629e-02,  7.07007356e-03,
         3.14484551e-02, -2.95576762e-03, -8.23858199e-02,
         1.53321474e-02, -3.35039622e-02,  6.34817836e-02,
        -1.48122477e-01, -7.05170297e-02, -2.00755402e-01,
         4.27979211e-01,  2.29584558e-03, -2.36835683e-01,
        -9.00873954e-03, -4.07988267e-03,  2.29614761e-02],
       [-7.76688655e-02, -5.34577434e-04,  1.79668060e-03,
        -4.51039478e-03,  1.08892946e-02, -2.36064214e-02,
        -3.08522968e-03, -6.39176897e-03,  4.64199417e-03,
         1.74730057e-02,  1.16073975e-02,  1.60241217e-03,
        -8.62022464e-03,  1.30229328e-04, -4.02009383e-02,
        -1.46602202e-02,  2.79282316e-02,  1.03753408e-02],
       [-4.30322117e-02, -2.52103736e-03, -2.30502805e-02,
         6.63479726e-02, -8.69697641e-02,  1.91133327e-01,
         3.28031542e-02, -6.43797433e-02, -1.30711264e-02,
        -1.81353847e-02, -9.89607256e-02,  5.65843883e-02,
        -6.53514757e-02,  1.25462195e-03, -1.04736817e-02,
        -1.75279220e-02, -6.48177483e-03, -9.16946882e-03],
       [-4.73335987e-02,  1.62987233e-03,  4.28592990e-03,
        -6.13745507e-03,  9.99931933e-02, -3.02531672e-02,
        -1.78512873e-02,  6.97780348e-02, -1.60620360e-02,
        -5.05614258e-03, -1.01912050e-01,  3.00332188e-04,
         7.20081234e-03,  4.73390597e-04,  4.81653319e-02,
        -1.63112388e-02, -1.17841277e-02,  9.99151815e-03],
       [-6.43107609e-02, -9.78890023e-03, -4.66255535e-03,
        -5.32600362e-02, -1.18987229e-01, -4.88487985e-02,
         1.35195880e-01, -1.79864242e-01,  2.63783835e-01,
         1.03054862e-01,  1.89029923e-02, -8.76633324e-02,
        -3.23136772e-02,  5.12936076e-04,  8.28789006e-02,
        -8.15343538e-03,  2.53160184e-02, -1.86460358e-02],
       [-4.60157764e-02, -8.57119550e-03,  1.36486733e-02,
        -2.06662825e-01,  2.00405002e-01, -1.26017368e-01,
        -3.80443720e-02, -1.39960039e-02,  2.87701624e-03,
         2.27143555e-02, -2.88546663e-02,  1.05894173e-01,
         8.16851356e-02,  9.00559391e-04, -1.53268252e-01,
        -2.81897841e-02, -8.84008591e-03, -1.55772520e-02],
       [ 1.72972026e-01,  1.40932880e-03, -3.54648088e-03,
         3.07932769e-02,  4.05335886e-03, -3.92199280e-03,
         4.12570829e-02,  9.16052801e-04, -3.03060248e-02,
        -3.12629654e-02, -5.19361587e-02,  3.24876424e-02,
         7.91958261e-03, -2.92462809e-04,  7.99160059e-02,
         2.68942536e-02, -2.82402960e-02, -4.67093075e-04],
       [-8.75551609e-02, -1.61815060e-03, -6.69442152e-04,
        -1.36647656e-02, -1.71637760e-02,  1.43338704e-02,
         1.18206668e-02, -1.83040470e-02,  5.54667812e-03,
         2.03321491e-02,  6.62016034e-03, -1.40806905e-02,
         4.55981119e-03,  1.14602314e-04, -3.90517463e-04,
        -6.14628647e-03, -4.94563148e-02, -4.23299807e-02],
       [ 5.35436945e-02, -1.35944130e-03, -3.13229765e-03,
         3.23186596e-02, -3.77018934e-02, -1.56678808e-02,
         4.14049718e-03, -3.66438539e-02, -2.25694264e-03,
         1.16485189e-02,  3.58358532e-02,  3.48468847e-02,
        -2.65199287e-02, -1.72889028e-04, -1.69364763e-02,
        -2.95219139e-02, -4.16059491e-02,  2.75913173e-02],
       [ 9.43394765e-02,  6.97475492e-03, -2.00773707e-03,
        -1.68003850e-02, -1.78559636e-02,  2.08039585e-02,
         6.07169869e-02, -5.10667808e-02,  1.93461160e-02,
        -4.25648937e-02,  7.81062697e-02, -4.44340796e-02,
        -6.25101902e-03,  4.21686577e-04,  9.86596795e-02,
        -2.79940942e-03, -3.02993050e-03, -9.40908587e-03],
       [ 2.41252605e-01,  8.28911854e-04,  4.62642922e-03,
        -3.43161169e-02, -3.52462486e-02, -1.04601275e-02,
         1.88183776e-03,  2.15608192e-01, -2.19886923e-02,
        -7.72537821e-03, -5.65892341e-02, -2.96098670e-02,
        -2.15563008e-02, -3.89990472e-03,  1.19159247e-01,
         2.01656948e-01,  9.65221776e-02,  1.57490728e-02],
       [ 5.09402503e-02,  2.65140884e-03,  2.73658319e-03,
        -1.04815881e-05,  6.91148761e-02, -3.19792027e-02,
         2.18565961e-03, -9.14135454e-03, -5.67868347e-03,
        -2.16897912e-02, -1.03777502e-02, -1.38604009e-02,
         2.14368314e-02, -5.99236206e-04, -3.20647480e-03,
         5.20157346e-02, -1.42708923e-03,  2.14575166e-03],
       [ 4.35591374e-04, -8.10504342e-04,  2.14887453e-03,
        -1.18270276e-02,  9.28865434e-03, -1.55716938e-02,
        -2.23780965e-02,  9.54150353e-03, -2.07880769e-03,
         1.16601752e-02,  4.14143263e-02, -1.12604669e-02,
        -8.78844301e-03,  2.49463890e-04,  1.54603502e-03,
        -2.95140802e-02, -7.12854810e-02,  2.79257909e-03],
       [-5.66834492e-03,  2.08116931e-04, -5.00542907e-04,
        -2.72977755e-03, -3.44610830e-03,  1.23617565e-02,
        -4.27820477e-03, -3.49028793e-03, -1.54070806e-03,
        -1.67167413e-03,  9.65140759e-03, -2.22067175e-03,
        -2.63673640e-03, -2.02470068e-03,  8.33561605e-03,
        -9.49580897e-02,  6.25242177e-02,  5.10560645e-02],
       [-3.45453581e-02,  6.88920389e-04,  2.42319249e-03,
        -3.47186267e-03,  4.88644549e-03, -2.04799181e-02,
         1.71502830e-02,  6.56242286e-03,  3.95062285e-03,
         2.91026768e-03, -3.70912774e-02, -1.65061313e-02,
         4.20889168e-02, -4.65001765e-04, -5.89354100e-02,
        -3.63252644e-02, -4.70789616e-02,  5.25497375e-02],
       [-1.11554552e-01,  1.20819322e-03, -2.76697766e-03,
         3.72597819e-02, -9.84959416e-03,  6.86655447e-03,
         1.81521474e-02, -1.06301366e-02, -5.58630250e-03,
        -6.22742740e-03, -1.55392842e-02, -7.90216688e-03,
        -6.54441277e-03, -1.69412784e-03, -1.45946493e-02,
         9.39604879e-02, -2.11593392e-02,  2.73480788e-02],
       [-4.06599748e-02,  3.49113290e-04,  1.05043552e-05,
         1.10337997e-02, -4.89371320e-03, -4.24689660e-03,
        -5.90702329e-03, -5.48358956e-03, -3.02369612e-03,
         1.21132493e-02, -7.61546311e-03, -4.13569271e-03,
         1.21577909e-02, -2.48770952e-03, -8.59745692e-03,
         1.17048803e-01,  3.08399027e-02, -3.22537344e-03],
       [-2.47341884e-02, -9.97631671e-04,  1.59848336e-04,
        -4.02838602e-03,  1.06234061e-02, -4.81989429e-03,
         9.69898450e-03, -5.72005188e-03, -3.42631398e-03,
        -3.39732453e-03, -6.87490113e-03,  1.08534042e-02,
        -2.90973583e-03, -1.63783795e-03, -8.31208565e-03,
         1.27390028e-01, -1.03860884e-01, -5.17073514e-02],
       [-3.68962701e-02, -2.25323712e-04, -7.02310905e-04,
        -1.40867409e-03, -1.69335546e-03,  1.38499661e-02,
        -2.05166267e-03, -1.76152231e-03, -8.89614793e-04,
        -9.72851676e-04, -2.65086688e-03, -1.26907263e-03,
        -1.15397926e-03, -3.29182767e-03,  8.98052719e-04,
         1.06203545e-01, -2.55600641e-02,  4.63253441e-02],
       [-3.61809799e-02,  3.11530255e-04,  2.03762192e-04,
        -2.73876768e-03, -3.52853062e-03, -3.26538494e-03,
         1.16108515e-02, -3.62802669e-03, -1.90843218e-03,
        -2.03262632e-03, -4.78690835e-03, -3.04996813e-03,
         1.33276898e-02, -2.08789406e-04, -6.65221088e-03,
        -9.02434432e-02, -1.83172567e-02, -1.52958556e-01],
       [ 1.14916379e-02,  4.03227779e-04,  2.40345898e-04,
        -1.39666517e-03, -1.70223754e-03, -1.52901440e-03,
        -1.99754282e-03, -1.77420845e-03, -8.62998159e-04,
        -9.18051331e-04,  1.26188705e-02, -1.31115836e-03,
        -1.12786742e-03, -1.75944499e-03, -3.42025915e-03,
        -1.18588185e-01,  1.12800304e-01, -2.00415790e-02],
       [ 1.63575346e-02,  1.04714957e-03, -1.02365526e-03,
         2.77822065e-02, -3.59957755e-03, -3.00005510e-03,
        -3.90295887e-03, -3.57937365e-03, -1.64945259e-03,
        -1.82832997e-03, -5.18239907e-03, -2.58428551e-03,
        -2.45592284e-03, -2.99426781e-04, -8.95390147e-03,
        -1.70163821e-01, -5.55945294e-02, -1.07939214e-05]])

In [21]:
predicted = clf.predict(X_test)

In [22]:
delta =(predicted == y_test)

In [23]:
unique, counts = np.unique(y_test[~delta], return_counts=True)
print("Failed to predict numbers:",dict(zip(unique, counts)))

Failed to predict numbers: {0: 26, 1: 99, 2: 42, 3: 50, 4: 51, 5: 120, 6: 39, 7: 68, 8: 12, 9: 43, 10: 36, 11: 2, 12: 6, 13: 26, 14: 4, 15: 15, 16: 5, 17: 40, 18: 13, 21: 2, 22: 7, 23: 3, 24: 1, 25: 1, 27: 4, 28: 1, 31: 1}

In [24]:
clf.score(X_train,y_train)

0.2837777777777778

In [25]:
clf.score(X_test,y_test)

0.283

In [26]:
accuracy_score(y_test,predicted)

0.283

In [27]:
# Custom

In [28]:
def normalize(X):
    mean = np.mean(X,axis=0);
    std = np.std(X,axis=0);
    std[std < 0.001] =1
    X_new = (X-mean)/std;
    return X_new, mean, std

In [29]:
def normalize_(X,mean,std):
    X_new = (X-mean)/std;
    return X_new

In [30]:
def prepare_X(X):
    m = X.shape[0]
    ones = np.ones((m, 1))
    X_new = np.column_stack((ones, X))
    return X_new

In [31]:
def sigmoid(z):
    #z - вектор стовпець
    g = 1/(1+np.exp(z*-1));
    return g

In [32]:
def h(X, theta):
    # X - матриця
    # theta - вектор
    z = X.dot(theta)
    #print('z max: ',max(z))
    #print('z min: ',max(z))
    return sigmoid(z)

In [33]:
def cost_function(X, y, theta):
    m = X.shape[0]
    if m ==0:
        return None
    temp =h(X,theta);
    J = sum(-1*y*np.log(temp) + (1-y)*np.log(1-temp) )/m;
    return J

In [34]:
def derivative_theta(X, y, theta):
    m = X.shape[0];
    if m == 0:
        return None

    d_theta = X_new.T.dot(h(X_new,theta) -y_new)/m;
    
    return d_theta

In [35]:
def gradient_descent(X, y, theta, alpha, epsilon, num_iters, print_J = True):
    m = X.shape[0]
    J_history = []
    
    J = cost_function(X,y,theta);
    
    if print_J == True:
        print(J)
    J_history.append(J)
    for i in range(num_iters):
        theta -= alpha* derivative_theta(X,y,theta);
        #print('max in theta: ',max(theta))
        #print('min in theta: ',min(theta))
        J = cost_function(X,y,theta);
        
        J_history.append(J)
        
        if i % 1000 == 0 and print_J == True:
            print(J)
        
        if abs(J-J_history[-2]) < epsilon:
            break
            
    return theta, J_history

In [36]:

def predict(X, mean, std, models,labels):
    
    X_new =normalize_(X,mean,std);
    X_new = prepare_X(X_new);
    predictions = [];
    for theta in models:
        predictions.append(h(X_new,theta))
    
    predict =[];
    for p in range(0,len(predictions[0])):
        max = abs(predictions[0][p]);
        max_label  =labels[0];
        for l in range(1,len(labels)):
            if(abs(predictions[l][p]) > max):
                max = abs(predictions[l][p]);
                max_label  =labels[l];
        predict.append(max_label);
    return predict

In [37]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='error')

In [38]:
enc.fit(np.array(y).reshape(-1,1))

OneHotEncoder()

In [39]:
t=enc.categories_
len_enc=len(t)
t

[array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34])]

In [40]:
y_train_encoded  = enc.transform(np.array(y_train).reshape(-1,1)).toarray()

In [41]:
models =[]

In [42]:
X_new,mean,std = normalize(X_train)

In [43]:
X_new = prepare_X(X_new)

In [44]:
for m in [i for i in range(len_enc)]:
    theta = np.zeros((X_new.shape[1], 1))
    y_new =y_train_encoded[:,m].reshape((X_train.shape[0], 1))
    new_theta, Js = gradient_descent(X_new, y_new, theta, 0.01, 1e-7, 10000, False)
    print("Cost for label ",m," is ",cost_function(X_new, y_new, theta))
    models.append(theta)

Cost for label  0  is  [0.07985539]

In [45]:
y_train_pred=predict(X_train,mean,std,models,[i for i in range(len_enc)])

In [46]:
accuracy_score(y_train, y_train_pred)

0.03977777777777778